

#quoteTitle
{
color: black;
font-family: 'Libre Baskerville', serif;
font-size: 80px;
font-weight: 700;


}


#quotePress
{
color: black;
font-family: 'Martian Mono', monospace;
font-size: 25px;
font-weight: 400;


}


#quoteText
{
font-size: 30px;
font-weight: 700;

}

#authorName
{
font-size: 30px;
font-weight: 400;

}